# FastAPI and server
fastapi
uvicorn
gunicorn
pydantic
python-dotenv

# Database


# NLP and Analysis
python-multipart
requests
ringcentral==0.9.2
openai==1.108.1
azure-servicebus==7.14.2
groq

# Testing
pytest
httpx

# Utilities
python-jose
passlib
dotenv
pydantic_settings
