# FastAPI and server
fastapi
uvicorn
pydantic
python-dotenv

# Database
sqlalchemy
alembic


# NLP and Analysis
groq
python-multipart
kafka-python
requests

# Testing
pytest
httpx

# Utilities
python-jose
passlib
